@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Jost', sans-serif;
    background-color: #212121;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B0FF2F;
    color: black;
    padding: 1rem 0;
    font-size: .9rem;
}

.banner-text{
    display: flex;
    align-items: center;
}

.text1 span{
    margin-right: 2rem;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar .d-flex{
    margin: 2.8rem 2rem 0 2rem;
}

.navbar .d-flex a{
    text-decoration: none;
    padding: 1rem 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar .d-flex a:hover{
    color: #B0FF2F;
}

.navbar .separator{
    width: 100%;
    height: 2px;
    border-radius: 100px;
    background-color: #3D3D3D;
}

@media only screen and (max-width : 500px){
    .navbar .d-flex{
        margin-top: 2.8rem;
        margin-left: auto;
        margin-right: auto;
        /* margin: 2.8rem 1rem 0 1rem; */
    }

    .navbar .d-flex a{
        text-decoration: none;
        padding: .5rem 0;
        color: white;
        font-size: .8rem;
        font-weight: 300;
    }
}